debug: false
management:
  endpoints:
    web:
      exposure:
        include:
          - "*"

logging:
  level:
    com.fastcampus.projectboard: debug
    org.springframework.web.servlet: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
spring:
  jpa:
    open-in-view: false
    defer-datasource-initialization: true
    hibernate.ddl-auto: create
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100
  sql.init.mode: always
  data.rest:
    base-path: /api
    detection-strategy: annotated
  #thymeleaf3.decoupled-logic: true
  devtools:
    livereload:
      enabled: true

---
spring:
  datasource:
    url: ${LOCAL_DB_URL_POSTGRES}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  config:
    activate:
      on-profile: postgres

---
spring:
  datasource:
    url: ${LOCAL_DB_URL_MYSQL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  config:
    activate:
      on-profile: mysql