<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Articles</title>
</head>
<body>

<header>
  header 템플릿 삽입부
  <hr>
</header>

<form action="">
  <label for="userId">Id</label>
  <input type="text" id="userId" required>
  <label for="password">Password</label>
  <input type="password" id="password" required>
  <label for="email">Email</label>
  <input type="email" id="email" placeholder="you@example.com">
  <label for="nickname">Nickname</label>
  <input type="text" id="nickname" required>
  <textare id="memo" rows="3"></textare>
  <button type="submit">가입</button>

</form>

<footer>
  <hr>
  footer 템플릿 삽입부
</footer>

</body>
</html>
