<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>게시글 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
        crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/articles/article-content.css">
</head>
<body>
<header id="header"></header>

<main class="container">
  <!--  게시글 제목 보여주기-->
  <header class="py-5 text-center">
    <h1>첫번째글제목</h1>
  </header>

  <div class="row g-5">
    <!--  작성자 정보 보여주기  -->
    <section class="col-md-5 col-lg-4 order-md-last">
      <aside>
        <p><span>JackieHwang</span></p>
        <p><a href="mailto:stratojy@gmail.com">stratojy@abc.com</a></p>
        <p>
          <time datetime="2023-05-01T00:00:00">2023-05-05</time>
        </p>
        <p><span>#spring</span></p>
      </aside>
    </section>
    <!--  게시글 내용  -->
    <article class="col-md-7 col-lg-8">
      <pre>게시글 본문 내용<br><br></pre>
    </article>
  </div>

  <div class="row g-5">
    <section>
      <!-- 댓글 쓰기 폼-->
      <form class="row g-3 comment-form">
        <input type="hidden" class="article-id"/>
        <div class="col-md-9 col-lg-8">
          <label for="comment-textbox" hidden>댓글</label>
          <textarea class="form-control comment-textbox" id="comment-textbox" placeholder="댓글 쓰기.."
                    rows="3" required></textarea>
        </div>
        <div class="col-md-3 col-lg-4">
          <label for="comment-submit" hidden>댓글 쓰기</label>
          <button class="btn btn-primary" id="comment-submit" type="submit">쓰기</button>
        </div>
      </form>
      <!--댓글 보여주는 부분-->
      <ul class="row col-7">
        <li class="child-comment">
          <form class="comment-delete-form">
            <input type="hidden" class="article-id"/>
            <div class="row">
              <div class="col-md-10 col-lg-9">
                <strong>jackieHwang</strong>
                <small>
                  <time>2023-05-05</time>
                </small>
                <p>
                  Cras non velit nec nisi vulputate nonummy.<br/>
                  Maecenas tincidunt lacus at velit.
                </p>
              </div>
            </div>
          </form>
        </li>
        <li class="child-comment">
          <form class="comment-delete-form">
            <input type="hidden" class="article-id"/>
            <div class="row">
              <div class="col-md-10 col-lg-9">
                <strong>jackieHwang</strong>
                <small>
                  <time>2023-05-05</time>
                </small>
                <p>
                  Cras non velit nec nisi vulputate nonummy.<br/>
                  Maecenas tincidunt lacus at velit.
                </p>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </section>
    <!-- 페이징 처리 -->
    <div class="row g-5">
      <nav id="pagination" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo; prev</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>

<footer id="footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>
